<form class="kalarsys sheet actor">
  <!--
  <header>
    <h1>{{actor.name}}</h1>
  </header>
  -->

  <div>
    <label>Body</label>
      <input type="number" name="system.categories.body"
        value="{{system.categories.body}}" />
  </div>

</form>
